.home-container {
    .lc-container {
        margin: 0 16px;
        margin-bottom: 16px;
        min-height: 762px;
        width: 362px;
        justify-content: flex-start;
        .lc-title {
            margin-top: 4px;
        }
    }
}

.home-s2 {
    padding-top: 16px;
}

@media (max-width: 721px) {
    .lc-container {
        min-height: 0px;
        max-height: 762px;
        width: 75%;
    }
}