.track-img-container {
    max-width: fit-content;
    img {
        height: auto;
        max-width: 50vw;
        padding: 0;
        margin: 0;
        overflow: visible;
    }
}

@media (max-width: 721px) {
    .track-img-container {
        img {
            max-width: 70%;
        }
    }
}